.banner {
  background: url("https://infopublik.id/assets/upload/headline//BAKAMLA2.jpg")
    no-repeat center center;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 35%;
  color: #020002;
}
html {
  background-color: #dedede;
}
#app {
  width: 600px;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
}
h1 {
  font-size: 30px;
}
.input {
  padding: 10px;
  width: 300px;
}
